form{
    margin-top: 5%;
    margin-bottom: 0;
}
main{
    flex-direction: column;
}
table{
    color: aliceblue;
    margin-left: 7%;
    margin-top: 2%;
}
td{
    text-align: center;
}
td img{
    transform: translateX(-50%);
}
@media screen and (max-width:600px){
    td img{
        width: 50%;
    }
    form{
        margin-left: 8%;
        margin-top: 4%;
    }
    .mobileButton{
        left: 88.5%;
    }
    table{
        top: 0%;
    }
    aside{
        height: 101vh;
    }
}
