form{
    margin-top: 5%;
    margin-bottom: 0;
}
main{
    flex-direction: column;
}
table{
    color: aliceblue;
    margin-left: 7%;
    margin-top: 2%;
}
td{
    text-align: center;
}
td img{
    transform: translateX(-50%);
}
