<!DOCTYPE html>
<html lang="ru">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'mainpage/css/mainstyle.css'%}">
    <link rel="stylesheet" href="{%static 'subjectscontent/css/base.css'%}">
    <link rel="stylesheet" href="{%static 'cinema/css/cinema.css'%}">
    <title>Cinema</title>
</head>
<body><a href=".."><img src = "https://cdn.alfacrm.pro/favicon-48.png" class="basereturn" style="top: 2%;height: 8%;width: 4%;"></a>
    {% block content%}
    <form action="">
        <input type="search" name="" id="" placeholder="Введите название видева">
        <input type="submit" value = "Найти" name="" id="">
    </form>
    <a href="addVideo"><img src="{%static 'cinema/pictures/addVideoButton.svg'%}" alt="" class="addVideoButton" style="right: 61%; top: -1.5%; filter: invert(90%); height: 17.5%;"></a>
    <div class="column">
        <div class="category">
            <h6>Математика 1-6</h6>
        </div>
        <div class="row">
            {% for i in videos %}
                <a href="{{ i.url }}"><img src="{{ i.preview.url }}"></a>
                <span>{{ i.title }}</span>
            {% endfor %}
        </div>
        <div class="category">
            <h6>Геометрия 7-11</h6>
        </div>
        <div class="row">
            
        </div>
        <div class="category">
            <h6>Алгебра 7-11</h6>
        </div>
        <div class="row">
            
        </div>
        <div class="category">
            <h6>Физика 7-11</h6>
        </div>
        <div class="row">
            
        </div>
    </div>
    {% endblock %}
</body>
</html>