body{
  background-color: rgb(22, 28, 35);
  color: white;
  font-size: 2em;
  margin: 0;
}
html {
    font-family: "Gidole", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.main{
  width: 700px;
  margin: auto;
  margin-top: 50vh;
  transform: translateY(-50%);
  text-align: center;
}
ul{
  display: flex;
  flex-direction: row;
  margin: 0%;
  padding: 0%;
  justify-content: space-around;
  list-style: none;
  text-transform: uppercase;
}
a{
  background-color: midnightblue;
  text-decoration: none;
  font-weight: 900;
  color: white;
  padding: 20px;
  border-radius: 20px;
}