<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel = "stylesheet" href="{%static 'subjectscontent\css\base.css'%}">
    {%block connect%}
    {%endblock%}
    <title>VseFormuli</title> <!--.ru-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gidole&display=swap" rel="stylesheet">
</head>
<body>
    <aside id="sidebar">
        <a href=".." class="basereturn"><img src = "https://cdn.alfacrm.pro/favicon-48.png" width = "20%" class = "basereturn"></a>
        <h1><a href="." class="Main">На главную</a></h1>
        <nav>
            <ul>
                <li><a href = "mathformulas">Математика 1-6</a></li>
                <li><a href = "algebraformulas">Алгебра 7-11</a></li>
                <li><a href = "geometryformulas">Геометрия 7-11</a></li>
                <li><a href = "physicsformulas">Физике 7-11</a></li>
            </ul>
        </nav>
        <footer>
            <img src = "{%static 'subjectscontent\pictures\settingsIcon.png'%}" style="right: 71%; position: absolute; width: 20%;" class = "settings">
            <a href = "" style="text-align: center; right: 9%; position: absolute; width: 50%;" class="haveQuestions">Возникли вопросы? - напишите в тех.поддержку</a>
        </footer>
    </aside>
    <main>
        <button onClick="OpenClose('pcbutton')" id = "openclosebutton" class="pcbutton"><img src="{%static 'subjectscontent\pictures\toggleMenu.png'%}" class="toggleMenu"></button>
        <form action="">
            <input type="search" name="" id="" placeholder="Введите формулу">
            <input type="submit" value = "Найти" name="" id="">
        </form>
    {%block content%}
    {%endblock%}
    </main>
    <button onClick="OpenClose('mobileButton')" id = "openclosebutton" class="mobileButton"><img src="{%static 'subjectscontent\pictures\toggleMenu.png'%}" class="toggleMenu"></button>
    <script>
        var isСlosed = false;
        function OpenClose(buttonclicked) {
            isСlosed = !isСlosed;
            const main = document.querySelectorAll("main");
            if(isСlosed){
                if(buttonclicked == "mobileButton"){
                document.getElementsByClassName("toggleMenu")[1].style.transform = "rotate(180deg)";
                    document.getElementById("sidebar").style.display = "block";
                    main.forEach(element => { element.style.display = 'none'; });
                }
                else{
                    document.getElementById("sidebar").style.display = "none";
                    document.getElementsByClassName("toggleMenu")[0].style.transform = "rotate(0deg)";
                }
            }
            else{
                if(buttonclicked == "mobileButton"){
                document.getElementsByClassName("toggleMenu")[1].style.transform = "rotate(0deg)";
                    document.getElementById("sidebar").style.display = "none";
                    main.forEach(element => { element.style.display = 'flex'; });
                }
                else{
                document.getElementsByClassName("toggleMenu")[0].style.transform = "rotate(180deg)";
                    document.getElementById("sidebar").style.display = "block";
                }
            }
        }
    </script>
</body>
</html>