{%extends 'base.html'%}
{%load static%}
{%block connect%}
    <link rel = "stylesheet" href="{%static 'subjectscontent\css\categories.css'%}">
{%endblock%}
{%block content%}
            <table>
                <thead>
                    <th>
                        Формула
                    </th>
                    <th>
                        Применение
                    </th>
                </thead>
                <tbody> 
                    {%block rows%}
                    {%endblock%}
                </tbody>
            </table>
{%endblock%}